.shopping-list-container {
    min-height: 200px;
    width: 100%;
    max-width: 500px;
    background-color: rgba(11, 15, 13, 0.582);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    color: #fff;
    padding: 60px;
    box-sizing: border-box; 
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.create-new-item-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 40px;
    padding: 0; 
    margin-bottom: 25px;
    border: 2px solid #fff;
    height: 50px;
}

.create-new-item-container ::placeholder {
    color: #fff;
}

.new-item-input {
    border: none;
    outline: none;
    background: transparent;
    padding: 16px 0 16px 16px;
    font-size: 1rem;
    cursor: text;
    border-radius: 40px;
    color: #fff;
    flex: 1; 
}

.new-item-input:focus::placeholder {
    opacity: 0;
}

.quantity-input {
    background-color: transparent;
    border: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1rem;
    text-align: center;
    height: 50px;
    width: 50px;
}

.quantity-input:focus {
    outline: none;
}

.quantity-input::placeholder {
    color: #aaa; 
    text-align: center;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.create-new-item-button {
    border: none;
    outline: none;
    height: 50px;
    padding: 16px 40px; 
    background-color: #fff;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
    border-top-right-radius: 40px;   
    border-bottom-right-radius: 40px;
}

.create-new-item-button:active {
    transform: scale(1.1);
}

.create-new-item-button fa-icon {
    font-size: 1.25rem; 
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .shopping-list-container {
        padding: 30px; 
    }

    h2 {
        font-size: 1.8rem;
    }

    .create-new-item-container {
        flex-direction: row;
        padding: 0;
        justify-content: flex-end;
    }

    .new-item-input {
        padding: 8px;
        font-size: 0.9rem;
        margin-right: 0;
    }

    .create-new-item-button {
        padding: 16px 40px;
        font-size: 1.1rem;
    }

    .create-new-item-button fa-icon {
        font-size: 1.25rem;
    }
}