<!--
<h5>Products</h5>
<div class="added-product-container">
    <div class="single-item" *ngFor="let item of products; let i = index;">
        <input type="checkbox" class="item-checkbox" [checked]="item.completed" (change)="toggleCompletion(i)">
        <div class="product-name-container" *ngIf="!item.editing">
            <p class="item-name" [ngClass]="{ completed: item.completed }">{{ item.content }}</p>
        </div>
        <button type="button" class="edit-button" *ngIf="!item.editing" (click)="enableEditing(i)"><fa-icon [icon]="faEdit"></fa-icon></button>
        <div class="product-name-edit-container" *ngIf="item.editing">
            <input type="text" class="editInput" [(ngModel)]="productEditText" (blur)="updateProductText(i)" (keyup.enter)="updateProductText(i)">
            <button type="button" class="save-button" (click)="updateProductText(i)"><fa-icon [icon]="faFloppyDisk"></fa-icon></button>
        </div>
        <button type="button" class="delete-button" (click)="deleteItem(i)"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
</div>
-->

<div class="product-container">
    <h5>Products</h5>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>
            <input type="checkbox" class="checkbox" [checked]="item.collected" (change)="toggleCollected(item)"/>
          </td>
          <td [ngClass]="{ 'collected': item.collected }">{{ item.item }}</td>
          <td class="quantity">{{ item.quantity }}</td>
          <td class="button-group">
            <button><fa-icon [icon]="faEdit"></fa-icon></button>
            <button (click)="deleteItem(item)"><fa-icon [icon]="faTrash"></fa-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  