* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    background-image: url('./assets/store.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
}

