.login-container{
    min-height: 200px;
    width: 100%;
    max-width: 500px;
    background-color: rgba(11, 15, 13, 0.582);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    color: #fff;
    padding:60px;
}
h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 7% 0 0 0;
}
.input-box input{
    width: calc(100% - 40px);
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1rem;
    padding-left: 20px;
    color: #fff;
    transition: border-color 0.3s ease;
}
.input-box input::placeholder{
    color: #fff;
    transition: opacity 0.3s ease;
}
.input-box input:focus::placeholder{
    opacity: 0; 
}
.input-box fa-icon{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: #fff;
    pointer-events: none;
}
.guest-container{
   display: flex;
   justify-content: space-between;
   font-size: 1rem;
   margin: 5% 0 0 3%;
}
.guest-container a{
    text-decoration: none;
    color: #fff;
}
.guest-container a:hover{
    text-decoration: underline;
}
.btn{
    width: 95%;
    height: 45px;
    max-width: 500px;
    border:none;
    outline: none;
    font-size: 1rem;
    border-radius: 40px;
    cursor: pointer;
    margin: 3% auto;
    font-weight: 600;
    background-color: #fff;
    color: black;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background-color: #f0f0f0;
}
.btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn:focus {
    outline: none;
}
.switch-container{
    font-size: 1rem;
    text-align: center;
    margin: 3% 0;
}
.switch-container a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}
.switch-container a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #666;
}
.error-container{
    font-size: 1rem;
    text-align: center;
    font-size: 1rem;
    margin: 3% 0;
}
@media screen and (max-width: 600px) {
    .login-container {
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
    }

    .input-box input,
    .input-box fa-icon {
        font-size: 0.875rem;
    }

    .btn {
        font-size: 0.875rem;
    }
}