.shopping-list-container {
    min-height: 200px;
    width: 100%;
    max-width: 500px;
    background-color: rgba(11, 15, 13, 0.582);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    color: #fff;
    padding:60px;
}
h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}
.create-new-item-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 2px solid #fff;
}
.create-new-item-container ::placeholder{
    color: #fff;
}
.new-item-input{
    flex: 1;
    border:none;
    outline: none;
    background:transparent;
    padding:10px;
    font-size: 1rem;
    cursor: text;
    color: #fff;
}
.create-new-item-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: transparent;
    background-color: #fff;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 40px;
    &:active{
        transform: scale(1.1);
    }
}
.create-new-item-button fa-icon{
    font-size: 1.25rem;
}